{% extends 'base.html.twig' %}

{% block title %}My Blog{% endblock %}

{% block body %}

    <ul class="posts">
        {% for post in posts %}
        <li>
            <h1><a href="{{ path('page', { id: post.id }) }}">{{ post.title }}</a></h1>
            <a href="{{ path('user', { id: post.author.id }) }}">{{ post.author.username }}</a> - {{ post.date|date("d.m.Y h:i") }}<br>
            <img src="{{ post.image|raw }}"><br>
            {{ post.content|truncatehtml(400)|raw }}<br>
            Comments: <a href="{{ path('page', { id: post.id }) }}">{{ post.commentsCount }}</a>
        </li>
        {% endfor %}
    </ul>

    <ul id="pages">
        {% for i in 1..pageCount %}
            {% if currentPage == i %}
            <li>{{ i }}</li>
            {% else %}
                <li><a href="{{ path('home', { page: i }) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
